# Environnement Python
.venv/
__pycache__/
*.pyc

# Données volumineuses
instacart_data/
*.csv
*.zip

# Secrets
.env
profiles.yml

# Artefacts et logs
target/
**/target/
dbt_packages/
**/dbt_packages/
logs/
**/logs/
*.log

# Fichiers système
.DS_Store
**/.DS_Store